<h1 mat-dialog-title>Delete task?</h1>
<div mat-dialog-content>
  <p>
    Title: {{data.title}}
  </p>
  <p>
    Deadline: {{data.deadline | date}}
  </p>
  <p>
    Status: {{(data.isCompleted ? 'Completed': 'Ongoing')}}
  </p>
  <p>
    Note: {{data.note}}
  </p>
</div>
<mat-dialog-actions align="end" style="padding: 15px;">
  <trudi-button [viewValue]="'Cancel'" mat-dialog-close/>
  <trudi-button [color]="'warn'" style="margin-left: 10px;" [viewValue]="'Confirm'" mat-dialog-close (onClicked)="handleConfirmClick()" />
</mat-dialog-actions>
